# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
dist/
build/
.pytest_cache/
.hypothesis/

# Environment
.env

# Node / Frontend
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/
*.swp
service-account.json
backend/service-account.json
*.bk
